@model IntroMVC.Models.Student
@{
    ViewBag.Title = "Submit";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<h2>Submitted Values</h2>
<h5>Name : @Model.Name</h5>
<h5>Id : @Model.Id</h5>
<h5>Dob : @Model.Dob </h5>
<h5>Email : @Model.Email </h5>

