
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyApp</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div>
        <h1>Welcome to MyApp</h1>
        @RenderBody()
        <h2>Footer &copy; adv .net</h2>
    </div>
</body>
</html>
