@model List<IntroMVC.Models.Person>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<h2>Home</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Dob</th>
    </tr>
    @foreach (var p in Model) { 
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.Dob</td>
        </tr>
    }
</table>