@model IntroMVC.Models.Person
@{
    ViewBag.Title = "Ind";
    Layout = "~/Views/Shared/_myLayout.cshtml";
}

<h2>Ind</h2>

<h3>Name : @Model.Name</h3>
<h3>Id : @Model.Id</h3>
<h3>Dob : @Model.Dob</h3>

